<!doctype html>
<html ng-app="projectsApp">
<head>
  <script src="/static/lib/angular.min.js"></script>
  <script src="/static/projects/app.js"></script>

  <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/static/projects/application.css">
  <link rel="stylesheet" href="/static/common.css">
</head>
<body ng-controller="ProjectsCtrl">
<nav class="navbar" role="navigation">
	<a class="home-link" href="/bugparty/">&#8962;</a>
	<a href="#">BugParty Projects</a>
</nav>
<article>
  <div class="flash">
    <p class="bg-success" ng-bind="flash.success"></p>
    <p class="bg-danger" ng-bind="flash.error"></p>
  </div>

  <a ng-show="create_project.hide_form"
      ng-click="create_project.hide_form = false">create a project</a>

  <form class="big" name="project_form" role="form"
        ng-hide="create_project.hide_form">
      <h4>Create A Project</h4>
      <div class="form-group"
        ng-class="{
        'has-error': project_form.name.$invalid
        && !project_form.$pristine
        }">
        <label>project name</label>
        <input type="text" class="form-control" name="name"
          ng-pattern="/^\w+$/" ng-model="create_project.name">
        <p ng-show="project_form.name.$error.pattern" class="help-block">
          project name can contain only letters, numbers, and underscores
        </p>
      </div>

      <button ng-click="create_project.submit()" type="submit"
          class="btn btn-primary">Submit</button>
      <button ng-click="create_project.hide()" class="btn btn-default">
          Cancel</button>
  </form>

  <p ng-if="projects.length == 0">
    no projects exist.
  </p>
  <section ng-repeat="project in projects" class="inner">
    <header>
      <h2>{{project.name}}</h2>
      <a ng-click="delete_project(project)">delete</a>
    </header>
    <button class="btn-default btn" ng-click="update(project)">
      compute topic scores for new bugs
    </button>
    <button class="btn-default btn" ng-click="recompute(project)">
        recompute LDA topics
    </button>
    <button class="btn-default btn" ng-click="update_dupes(project)">
        deduplicate new bugs
    </button>
    <button class="btn-default btn" ng-click="redo_dupes(project)">
        deduplicate all bugs
    </button>
    <button class="btn-default btn" ng-click="update_context(project)">
        add context to new bugs
    </button>
    <button class="btn-default btn" ng-click="redo_context(project)">
        add context to all bugs
    </button>
  </section>
</body>
</html>
