<!doctype html>
<html ng-app="reportsApp">
<head>
  <script src="/static/lib/angular.min.js"></script>
  <script src="/static/reports/app.js"></script>

  <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/static/reports/application.css">
  <link rel="stylesheet" href="/static/common.css">
</head>
<body ng-controller="reportsCtrl">
<article>
<nav class="navbar" role="navigation">
	<a class="home-link" href="/bugparty/">&#8962;</a>
	<a href="#">{{project}} reports</a>
</nav>
  <div class="flash">
    <p class="bg-success" ng-bind="flash.success"></p>
    <p class="bg-danger" ng-bind="flash.error"></p>
  </div>

  <header><form name="cluster_form" role="form">
      <h4>Calculate a Clustering</h4>
      <div class="form-group" 
        ng-class="{
          'has-error': cluster_form.clusters.$invalid && !cluster_form.$pristine
        }">
        <label>number of clusters</label>
        <input type="number" class="form-control" name="clusters"
          min="2" ng-model="do_cluster.clusters">
        <p ng-show="cluster_form.clusters.$error.number" class="help-block">
          must be a number
        </p>
        <p ng-show="cluster_form.clusters.$error.min" class="help-block">
          must have at least 2 clusters
        </p>
      </div>

      <button ng-click="do_cluster.submit()" type="submit"
          class="btn btn-primary">Submit</button>
    </form></header>

  <p class="help-block" ng-if="!reports.length">
    No reports have been created.
  </p>
  <ul ng-if="reports.length">
    <li ng-repeat="report in reports track by report.id" class="inner">
    <h4>{{report.generator}}
        {{report.when ? '@ ' + report.when : ''}}</h4>
        <p ng-if="report.clusters">{{report.clusters}} clusters</p>
        <p ng-if="report.topics">{{report.topics}} topics</p>

        <ul>
          <li ng-repeat="(name, location) in report">
            <a ng-if="name.indexOf('.') != -1" href="{{location}}">{{name}}</a>
          </li>
        </ul>
    </li>
  </ul>

</body>
</html>

