<!doctype html>
<html ng-app="newBugApp">
<head>
  <script src="/static/lib/angular.min.js"></script>
  <script src="/static/new_bug/app.js"></script>

  <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/static/common.css">
</head>
<body ng-controller="NewBugCtrl">
<nav class="navbar" role="navigation">
	<a class="home-link" href="/bugparty/">&#8962;</a>
	<a href="#">{{project}} - New Bug</a>
</nav>
<article>
  <div class="flash">
    <p class="bg-success" ng-bind="flash.success"></p>
    <p class="bg-danger" ng-bind="flash.error"></p>
  </div>
  <header><h3>Add a new bug</h3></header>
    <form name="new_bug_form" role="form">
      <div class="container-fluid">
	<div class="row">
	  <div class="form-group col-md-4">
            <label>Bug ID</label> 
	    <input type="text" ng-model="new_bug.bugID"
		   class="form-control" required />
	  </div>

	  <div class="form-group col-md-4">
            <label>Merge ID</label>
            <input type="text" class="form-control"
		   ng-model="new_bug.mergeID" min="0">
            <p class="help-block">If the new bug's status is 'Duplicate',
              enter the ID of the bug it was merged into.</p>
	  </div>

	</div>

	<div class="row">
	  <div class="form-group col-md-4">
            <label>Open date</label>
            <input type="date" class="form-control"
		   ng-model="new_bug.openDate">
	  </div>
	  
	  <div class="form-group col-md-4">
            <label>Close date</label>
            <input type="date" class="form-control"
		   ng-model="new_bug.closeDate">
	  </div>
	</div>


	<div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control"
		 ng-model="new_bug.title">
	</div>
	
	<div class="form-group">
          <label>Description</label>
          <textarea class="form-control"
		    ng-model="new_bug.description">
	  </textarea>
	</div>
	
	<div class="row">
	  <div class="form-group col-md-4">
            <label>Status</label>
            <input type="text" class="form-control"
		   ng-model="new_bug.status">
	  </div>
	  
	  <div class="form-group col-md-4">
            <label>Component</label>
            <input type="text" class="form-control"
		   ng-model="new_bug.component">
	  </div>
	  
	  <div class="form-group col-md-4">
            <label>Version</label>
            <input type="text" class="form-control"
		   ng-model="new_bug.version">
	  </div>
	  
	</div>
	
	<div class="row">
	  <div class="form-group col-md-4">
            <label>Priority</label>
            <input type="text" class="form-control"
		   ng-model="new_bug.priority">
	  </div>
	  
	  <div class="form-group col-md-4">
            <label>Type</label>
            <input type="text" class="form-control"
		   ng-model="new_bug.type">
	  </div>
	</div>
	
	<button ng-click="create_bug.submit()" type="submit"
		class="btn btn-primary">Submit</button>

	<button ng-click="clear_form()"
		class="btn btn-primary">Clear</button>
	
      </div><!-- .container-fluid -->
    </form>
  </article>
  </body>
</html>  
