.description {
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 100%;
		overflow: hidden;
		cursor: pointer;
}

.description.expanded {
		overflow: visible;
		white-space: normal;
}

ul li {
	margin: 0;
	padding: 0.3em;
}

li.even {
	background-color: #CFCFCF;
}

section {
	margin-top: 0;
}

section header {
	min-height: 5em;
}

.failed {
	font-size: 200%;
	color: red;
	margin: 1em auto;
	text-align: center;
}
