<!doctype html>
<html ng-app="bugSimilaritiesApp">
<head>
  <script src="/static/lib/angular.min.js"></script>
  <script src="/static/view_bug/app.js"></script>

  <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/static/common.css">
  <link rel="stylesheet" href="/static/view_bug/application.css">
</head>
<body ng-controller="BugCtrl">
<nav class="navbar" role="navigation">
	<a class="home-link" href="/bugparty/">&#8962;</a>
	<a href="#">{{project}}/{{bug.bugid}}</a>
</nav>
<article>
  <div class="flash">
    <p class="bg-success" ng-bind="flash.success"></p>
    <p class="bg-danger" ng-bind="flash.error"></p>
  </div>

  <header>
    <h1><div>{{bug.title}}</div></h1>
    <h2 ng-init="expanded=false" class="description"
		ng-click="expanded=!expanded" ng-class="{'expanded': expanded}">
			{{bug.description.toLowerCase()}}</h2>
  </header>

  <div class="bug-json" ng-init="show_bug_json = false">
	<a ng-click="show_bug_json = !show_bug_json">
    	{{ show_bug_json ? 'hide' : 'show' }} raw bug</a>
  	<code ng-show="show_bug_json"><pre>{{bug | json }}</pre></code>
  </div>

  <h3 style="margin-top: 1em; display: block">similar bugs by...</h3>
  <div class="container">
    <section class="inner col-xs-3" ng-repeat="col in columns">
      <header><h3>{{col.name}}</h3></header>
      <div class="spinner" ng-show="col.loading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div> 
      <div class="failed" ng-show="col.error">X</div>

      <p class="help-block"
        ng-show="!col.error && !col.loading && !col.bugs">
			no results
      </p>
      <ul ng-if"col.bugs">
          <li ng-repeat="bug in col.bugs" ng-init="expanded=false"
              ng-class-even="'even'">
              <a ng-click="expanded = !expanded;load_bug(bug, expanded);">
				{{ expanded ? '-' : ''}} {{bug.bugid}}</a>
		 		<div ng-show="expanded">
					<a href="{{bug_ui_url(bug)}}">view similar</a>
					<p>{{bug.title}}</p>
					<p>{{bug.description}}</p>
				</div>
          </li>
      </ul>
    </section>
  </div>
</body>
</html>
