<div ng-controller='projectpicker' ng-init="init()">
  <form name="input" style="margin:3px 0 0 0">
    <ul class="nav nav-pills projectpicker-dropdown">
      <li class="dropdown">
        <a class="dropdown-toggle projectpicker-dropdown" data-toggle="dropdown"
	  href="" bs-tooltip="'Click to select a project'" data-placement="bottom" ng-click="dismiss();">
	  <span>Project ({{current}})</span>
          <i class="icon-caret-down"></i>
		</a>

		<ul class="dropdown-menu">
		  <!-- Relative time options -->
		  <li ng-repeat='project in projects'>
			<a ng-click="selectProject(project)">{{project.name}}</a>
		  </li>
		</ul>

      </li>
    </ul>
  </form>
</div>
