section header {
	clear: both;
}

.topic {
    width: 90%;
    display: block;
    padding: 0 0 0 0.3em;
    margin: 1em;
    float: left;
    box-sizing: border-box;
    border-left: 1em solid cornflowerblue;
}

.topic form {
    float: left;
}

.topic .ng-pristine button {
    display: none;
}

.topic button {
    width: 50%;
    margin: 0.2em;
}

.topic input[type=text] {
    width: 20em;
}



.topic-id {
    color: grey;
}

.words {
    display: block;
		clear: both;
        border: none;
		margin-left: 0.3em;
}

.words li {
    padding: 0.2em;
}



ul ul li {
    display: inline;
}

