<!doctype html>
<html ng-app="topicsApp">
<head>
  <script src="/static/lib/angular.min.js"></script>
  <script src="/static/topics/app.js"></script>

  <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/static/common.css">
  <link rel="stylesheet" href="/static/topics/application.css">
</head>
<body ng-controller="TopicsCtrl">
<nav class="navbar" role="navigation">
	<a class="home-link" href="/bugparty/">&#8962;</a>
	<a href="#">{{project}} topics</a>
</nav>
<article>
  <div class="flash">
    <p class="bg-success" ng-bind="flash.success"></p>
    <p class="bg-danger" ng-bind="flash.error"></p>
  </div>

  <div class="spinner" ng-show="loading">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div> 

  <section ng-repeat="(method, data) in topics.list"
		   ng-hide="loading" ng-init="collapsed=false">
    <header>
    <h3><a ng-click="collapsed=!collapsed">{{collapsed ? '+' : '-'}}{{data.name}}</a></h3>
      ({{data.topics.length}} topics)
    </header>
    <ul class="list-actions" ng-hide="collapsed">
      <li><a ng-click="topics.sort(method, 'id')">sort by id</a></li>
      <li><a ng-click="topics.sort(method, 'name')">sort by name</a></li>
      <li ng-if="data.custom" ng-hide="create_topic.shown">
        <a ng-click="create_topic.show()">create topic</a></li>
    </ul>
    <form name="create_topic_form" role="form" ng-if="data.custom"
          class="big" ng-show="!collapsed && create_topic.shown">
      <h4>Create A Topic</h4>
      <div class="form-group">
        <label>topic name</label>
        <input type="text" class="form-control"
          ng-model="create_topic.name">
      </div>

      <div class="form-group">
        <label>topic words</label>
        <textarea ng-model="create_topic.words" class="form-control">
        </textarea>
        <p class="help-block">This text will be tokenized and split
          automatically for bug analysis</p>
      </div>
      <button ng-click="create_topic.hide()" class="btn btn-default">
          Cancel</button>
      <button ng-click="create_topic.submit()" type="submit"
          class="btn btn-primary">Submit</button>
    </form>
    <ul ng-hide="collapsed">
      <li ng-repeat="topic in data.topics track by topic.id" class="inner topic">
        <form name="form" ng-submit="updateTopicName(topic, form)" class="form-inline">
          <div class="form-group">
            <input type="text" ng-model="topic.name">
            <span class="topic-id">id: {{topic.id}}</span>
          </div>
          <button type="submit" class="btn btn-default">rename</button>
        </form>

        <p class="words">{{topic.words}}</p>
      </li>
    </ul>
  </section>
</body>
</html>
