ul {
    margin-top: 1em;
}

ul li {
	margin: 0;
	padding: 0.3em;
}

.failed {
	font-size: 200%;
	color: red;
	margin: 1em auto;
	text-align: center;
}

button.paging {
    min-width: 3em;
}

button.active {
    text-decoration: underline !important;
}

aside {
	float: right;
}

.spinner {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
