<!doctype html>
<html ng-app="bugSimilaritiesApp">
<head>
  <script src="/static/lib/lodash.min.js"></script>
  <script src="/static/lib/angular.min.js"></script>
  <script src="/static/list_bugs/app.js"></script>

  <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/static/common.css">
  <link rel="stylesheet" href="/static/list_bugs/application.css">
</head>
<body ng-controller="BugCtrl">
<nav class="navbar" role="navigation">
	<a class="home-link" href="/bugparty/">&#8962;</a>
	<a href="#">{{project}} bugs</a>
</nav>
<article>
  <div class="flash">
    <p class="bg-success" ng-bind="flash.success"></p>
    <p class="bg-danger" ng-bind="flash.error"></p>
  </div>

  <header>
    <div class="spinner" ng-show="loading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
	<form name="search_form" role="search" ng-submit="search.do_search()">
		<div class="form-group">
            <label>type to search</label>
			<input type="text" ng-model="search.text" class="form-control">
		</div>
	</form>
	<div class="clearfix"></div>
	<aside ng-if="bugs">{{paginate.max_page + 1}} pages</aside>
    <div ng-if="bugs" class="clearfix">
      <div class="btn-toolbar">
          <div class="btn-group">
            <a href="{{bugs_url}}">
              <button type="button" class="btn btn-default"
                  ng-class="{'active': 0==paginate.page}"
                  ng-click="paginate.first()">first</button>
            </a>
          </div>
        <div class="btn-group">
            <a href="{{bugs_url}}">
              <button type="button" class="btn btn-default paging"
                  ng-repeat="page in paginate.range"
                  ng-class="{'active': page==paginate.page}"
                  ng-click="paginate.page = page">
                {{page}}
              </button>
            </a>
          </div>
          <div class="btn-group">
            <a href="{{bugs_url}}">
            <button type="button" class="btn btn-default"
                  ng-class="{'active': paginate.max_page==paginate.page}"
                  ng-click="paginate.last()">last</button>
            </a>
          </div>
      </div>
    </div>
	<div class="clearfix"></div>
  </header>
  <p class="help-block"
    ng-show="!loading && bugs.length == 0">
    	no results
  </p>
  <ul ng-if="bugs" class="container-fluid">
      <li ng-repeat="bug in bugs" ng-init="expanded=false"
          ng-class-even="'even'" class="col-md-2 col-sm-3 col-xs-6 inner">
        <a ng-click="expanded = !expanded;load_bug(bug, expanded);">
	{{ expanded ? '-' : ''}} {{bug.bugid}}</a>
        <div ng-show="expanded">
          <a href="{{bug_ui_url(bug)}}">view similar</a>
          <p>{{bug.title}}</p>
          <p>{{bug.description}}</p>
        </div>
      </li>
  </ul>
</body>
</html>
