<div class="editor-row">
  <div class="section">
  <h5>Bucket Options</h5>
    <div class="editor-option" ng-hide='panel.auto_int'>
      <label class="small">Size<tip>this will be the range of each bucket</tip></label>
      <input type="number" class='input-mini' ng-model="panel.interval" ng-change='set_refresh(true)'/>
    </div>
  </div>
</div>
