<div ng-controller='topichistogram' ng-init="init()" style="min-height:{{panel.height || row.height}}">
  <style>
	.panel-options {
		overflow: auto;
	}

    .topic-picker {
      display: inline-block;
      width: 180px;
      float: right;
    }

    .histogram-legend {
      display:inline-block;
      padding-right:5px
    }
    .histogram-legend-dot {
      display:inline-block;
      height:10px;
      width:10px;
      border-radius:5px;
    }
    .histogram-legend-item {
      display:inline-block;
    }
    .topic-histogram-chart {
      position:relative;
	  left: 0.6em;
    }
    .histogram-options {
      padding: 5px;
      margin-right: 15px;
      margin-bottom: 0px;
    }
    .histogram-options label {
      margin: 0px 0px 0px 10px !important;
    }
    .histogram-options span {
      white-space: nowrap;
    }

    /* this is actually should be in bootstrap */
    .form-inline .checkbox {
        display: inline-block;
    }

    .histogram-marker {
      display: block;
      width: 20px;
      height: 21px;
      background-image: url('img/annotation-icon.png');
      background-repeat: no-repeat;
    }

	.y-axis-label {
		transform: rotate(90deg);
		position: absolute;
		left: -3.6em;
		top: 12em;
	}

	.x-axis-label {
		text-align: center;
	}

  </style>
  <div class="panel-options">
    <span ng-show='panel.options'>
      <a class="link small" ng-show='panel.options' ng-click="options=!options">
        View <i ng-show="!options" class="icon-caret-right"></i><i ng-show="options" class="icon-caret-down"></i>
      </a> |&nbsp
    </span>
    <span ng-show='panel.zoomlinks'>
      <!--<a class='small' ng-click='zoom(0.5)'><i class='icon-zoom-in'></i> Zoom In</a>-->
      <a class='small' ng-click='zoom(2)'><i class='icon-zoom-out'></i> Zoom Out</a> |&nbsp
    </span>
    <select class="topic-picker" ng-model="topic" ng-options="topic as topic.name for topic in topics">
    </select>
    <span ng-show="panel.legend" ng-repeat='series in legend' class="histogram-legend">
      <i class='icon-circle' ng-style="{color: series.query.color}"></i>
      <span class='small histogram-legend-item'>
        <span ng-if="panel.show_query">{{series.query.alias || series.query.query}}</span>
        <span ng-if="!panel.show_query">{{series.query.alias}}</span>
        <span ng-show="panel.legend_counts"> ({{series.hits}})</span>
      </span>
    </span>
  </div>
  <form class="form-inline bordered histogram-options" ng-show="options">
    <span>
      <div class="checkbox">
        <label class="small">
          <input type="checkbox" ng-model="panel.bars" ng-checked="panel.bars" ng-change="render()">
          Bars
        </label>
      </div>
      <div class="checkbox">
        <label class="small">
          <input type="checkbox" ng-model="panel.lines" ng-checked="panel.lines" ng-change="render()">
          Lines
        </label>
      </div>
      <div class="checkbox">
        <label class="small">
          <input type="checkbox" ng-model="panel.stack" ng-checked="panel.stack" ng-change="render()">
          Stack
        </label>
      </div>
    </span>
    <span>
      <div class="checkbox">
        <label class="small">
          <input type="checkbox" ng-model="panel.legend" ng-checked="panel.legend" ng-change="render()">
          Legend
        </label>
      </div>
    </span>
  </form>
  <center><img ng-show='panel.loading' src="img/load_big.gif"></center>
   <label class="y-axis-label">bug count per bucket</label>
  <div topic-histogram-chart class="pointer topic-histogram-chart" params="{{panel}}"></div>
  <label class="x-axis-label">topic scores (bucket size={{get_interval()}})</label>
</div>
