<div class="editor-row">
  <div class="section">
    <h5>Chart Options</h5>
    <div class="editor-option">
      <label class="small">Bars</label><input type="checkbox" ng-model="panel.bars" ng-checked="panel.bars">
    </div>
    <div class="editor-option">
      <label class="small">Lines</label><input type="checkbox" ng-model="panel.lines" ng-checked="panel.lines">
    </div>
    <div class="editor-option">
      <label class="small">Points</label><input type="checkbox" ng-model="panel.points" ng-checked="panel.points">
    </div>
    <div class="editor-option">
      <label class="small">Selectable</label><input type="checkbox" ng-model="panel.interactive" ng-checked="panel.interactive">
    </div>
    <div class="editor-option">
      <label class="small">xAxis</label><input type="checkbox" ng-model="panel['x-axis']" ng-checked="panel['x-axis']"></div>
    <div class="editor-option">
      <label class="small">yAxis</label><input type="checkbox" ng-model="panel['y-axis']" ng-checked="panel['y-axis']"></div>
    <div class="editor-option" ng-show="panel.lines">
      <label class="small">Line Fill</label>
      <select class="input-mini" ng-model="panel.fill" ng-options="f for f in [0,1,2,3,4,5,6,7,8,9,10]"></select>
    </div>
    <div class="editor-option" ng-show="panel.lines">
      <label class="small">Line Width</label>
      <select class="input-mini" ng-model="panel.linewidth" ng-options="f for f in [0,1,2,3,4,5,6,7,8,9,10]"></select>
    </div>
    <div class="editor-option" ng-show="panel.points">
      <label class="small">Point Radius</label>
      <select class="input-mini" ng-model="panel.pointradius" ng-options="f for f in [1,2,3,4,5,6,7,8,9,10]"></select>
    </div>
  </div>
  <div class="section">
    <h5>Multiple Series</h5>
    <div class="editor-option">
      <label class="small">Stack</label><input type="checkbox" ng-model="panel.stack" ng-checked="panel.stack">
    </div>
    <div class="editor-option" ng-show="panel.stack">
      <label style="white-space:nowrap" class="small">Percent <tip>Stack as a percentage of total</tip></label>
      <input type="checkbox"  ng-model="panel.percentage" ng-checked="panel.percentage">
    </div>
    <div class="editor-option" ng-show="panel.stack">
      <label class="small">Stacked Values <tip>How should the values in stacked charts to be calculated?</tip></label>
      <select class="input-small" ng-model="panel.tooltip.value_type" ng-options="f for f in ['cumulative','individual']"></select>
    </div>
  </div>
</div>

<div class="editor-row">
  <div class="section">
    <h5>Header<h5>
    <div class="editor-option">
      <label class="small">Zoom</label><input type="checkbox" ng-model="panel.zoomlinks" ng-checked="panel.zoomlinks" />
    </div>
    <div class="editor-option">
      <label class="small">View</label><input type="checkbox" ng-model="panel.options" ng-checked="panel.options" />
    </div>
  </div>
  <div class="section">
    <h5>Legend<h5>
    <div class="editor-option">
      <label class="small">Legend</label><input type="checkbox" ng-model="panel.legend" ng-checked="panel.legend">
    </div>
    <div ng-show="panel.legend" class="editor-option">
      <label class="small">Query <tip>If no alias is set, show the query in the legend</tip></label><input type="checkbox" ng-model="panel.show_query" ng-checked="panel.show_query">
    </div>
    <div ng-show="panel.legend" class="editor-option">
      <label class="small">Counts</label><input type="checkbox" ng-model="panel.legend_counts" ng-checked="panel.legend_counts">
    </div>
  </div>

  <div class="section">
    <h5>Grid<h5>
    <div class="editor-option">
      Limit y-axis results
      <label class="small">Min / <a href='' ng-click="panel.grid.min = _.toggle(panel.grid.min,null,0)">Auto <i class="icon-star" ng-show="_.isNull(panel.grid.min)"></i></a></label>
      <input type="number" class="input-small" ng-model="panel.grid.min"/>
    </div>
    <div class="editor-option">
      <label class="small">Max / <a ref='' ng-click="panel.grid.max = _.toggle(panel.grid.max,null,0)">Auto <i class="icon-star" ng-show="_.isNull(panel.grid.max)"></i></a></label>
      <input type="number" class="input-small" ng-model="panel.grid.max"/>
    </div>
  </div>

</div>
