body {
   padding: 0 1em;
}

a {
    cursor: pointer;
}

.navbar {
	font-size: 300%;
}

.navbar a {
	margin-left: 0.4em;
}

.navbar a.home-link {
	margin-left: 0;
}

.flash {
    position: fixed;
    top: 1em;
    left: 0;
    width: 100%;
    font-size: 150%;
    text-align: center;
}

.flash p {
    width: 20em;
    margin: 0 auto;
}

article > header {
    border-left: 1em solid blueviolet;
    padding: 0 0 0 0.3em;
}

section {
    margin-top: 2em;
}

h3 {
    display: inline;
    font-size: 150%;
}

.list-actions li {
    margin-left: 1em;
    display: inline;
}

form.big {
    margin-left: 1em;
    border-left: 1em solid darkorange;
    padding: 0 0 0 0.3em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.inner {
    border-left: 1em solid cornflowerblue;
    padding-left: 0.3em;
}


/* loading animation from spinkit */
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
