<!doctype html>
<html ng-app="indexApp">
<head>
  <script src="/static/lib/angular.min.js"></script>
  <script src="/static/index.js"></script>

  <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/static/common.css">
  <style>
  h3 {
    font-size: 180%;
  }
  div.link a, div.link .fake-link {
    font-size: 140%;
    display: block;
  }
  </style>
</head>
<body ng-controller="IndexCtrl">
<nav class="navbar" role="navigation">
  <a class="home-link" href="/bugparty/">&#8962;</a>
  <a href="#">Bug Party</a>
</nav>
<article>
  <div class="flash">
    <p class="bg-success" ng-bind="flash.success"></p>
    <p class="bg-danger" ng-bind="flash.error"></p>
  </div>

  <header>
    <div class="link"><a href="/bugparty/projects.html">manage projects</a>
      <p>Create projects and run per-project tasks</p>
    </div>
    <div class="link"><a href="/bugparty/tasks.html">view background tasks</a>
      <p>View background tasks and errors.</p>
    </div>
    <div class="link"><a href="/static/docs/html/index.html">docs</a>
    </div>
  </header>

  <p ng-if="projects.length == 0">
    no projects exist.
  </p>
  <section ng-repeat="project in projects" class="inner"
      id="{{project.name}}}">
    <header>
      <h2><a href="#{{project.name}}">{{project.name}}</a></h2>
    </header>
    <div class="link">
      <a href="{{urls.overview_dash(project)}}">project overview</a>
      <p>Crossfilter, bug listings, searching and clustering.</p>
    </div>

    <div class="link">
      <a href="{{urls.list_bugs(project)}}">list/search bugs</a>
      <p>List and search bugs. From here you can select a bug and view
      similar bugs.</p>
    </div>

    <div class="link"><a href="{{urls.topics(project)}}">view topics</a>
      <p>View and create topics.</p>
    </div>

    <div class="link"><a href="{{urls.fastrep(project)}}">view bug deduper results</a>
      <p>View top bug deduper results per-bug.</p>
    </div>

    <div class="link"><a href="{{urls.reports(project)}}">view reports</a>
      <p>View clustering and LDA reports.</p>
    </div>


    <section>
      <div class="link"><a href="{{urls.new_bug(project)}}">add bugs</a>
        <p>Add one bug.</p>
      </div>
      <div class="link"><a href="{{urls.mult_new_bug(project)}}">add multiple bugs</a>
        <p>Add multiple bugs from a Json file.</p>
      </div>
    </section>
  </section>
</body>
</html>
