@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

body {
  font-family: "Helvetica Neue";
  margin: 0.2em auto;
  width: 960px;
  min-height: 2000px;
}

#body {
  position: relative;
}

footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}

h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}

.topic-words {
	width: 230px;
}

.topic-words:hover {
	white-space: normal;
}

#charts select {
    display: block;
}

#charts .title {
  padding-top: 10px;
}

#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.paramSelect {
  display: inline-block;
  height: 60px;
  margin-bottom: 20px;

}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#firstRelevancy-chart, #secondRelevancy-chart, #thirdRelevancy-chart {
  min-width: 230px;
}

#master-input, #context-chart, #rep-chart, #limit-chart {
  min-width: 130px;
}


#date-chart {
  width: 920px;
}

#bug-list {
  min-height: 1024px;
}

#bug-list .date,
#bug-list .day {
  margin-bottom: .4em;
}

#bug-list .bug {
  line-height: 1.5em;
  background: #eee;
  width: 730px;
  margin-top: 1px;
}

#bug-list .bugID {
  color: #000000;
  width:130px;
}

#bug-list .bug div {
  display: inline-block;
  width: 130px;
}

#bug-list div.firstRelevancy,
#bug-list div.secondRelevancy,
#bug-list div.thirdRelevancy {
  width: 160px;
  padding-right: 10px;
  text-align: right;
}

#bug-list div.similarity {
  width: 300px;
  padding-right: 10px;
  text-align: right;
}


#bug-list .bugInfoClass {
  line-height: 1.5em;
  background: #DEDEDE;
  width: 710px;
  margin-bottom: 1px;
  padding-left: 20px;
  min-height: 24px;
}


aside {
  position: absolute;
  left: 740px;
  font-size: smaller;
  width: 220px;
}
