<!DOCTYPE html>
<html ng-app="similaritiesApp">
  <head>
    <script src="/static/lib/angular.min.js"></script>
    <script src="/static/fastrep_list/app.js"></script>

    <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/static/common.css">
  </head>
  <body ng-controller="FastREPCtrl" ng-init="init()">
<nav class="navbar" role="navigation">
	<a class="home-link" href="/bugparty/">&#8962;</a>
	<a href="#">{{project}}  deduper similarities</a>
</nav>
    <article>
      <div class="flash">
        <p class="bg-success" ng-bind="flash.success"></p>
        <p class="bg-danger" ng-bind="flash.error"></p>
      </div>
      
      <form class="form-inline" name="fastrep_options" role="search" 
            ng-submit="updateMatchingList()">
        <div class="form-group" id="master-input" class="paramSelect">
          <label>bug ID</label>
          <input type="text" ng-model="input.bugid"
                 ng-change="updateMatchingListAndBug()">
        </div>
        <div id="context-chart" class="paramSelect, form-group">
          <label>Context</label>
          <select ng-model="input.context" name="select1" class="select" 
	          ng-change="updateMatchingList()">
	    <option value="rep">REP</option>
            <option value="all">All</option>
	    <option value="lda">LDA</option>
	    <option value="nfr">NFR</option>
	    <option value="architecture">Architecture</option>
	    <option value="user">User</option>
	    <option value="junk">Junk</option>
          </select>
        </div>
        <div id="rep-chart" class="paramSelect, form-group">
          <input type="radio" ng-model="input.rep" name="rep"
                 checked="true" value="1"
	         ng-change="updateMatchingList()">REP<br>
          <input type="radio" ng-model="input.rep" name="rep" value="0"
	         ng-change="updateMatchingList()">No REP
          </div>
          <div id="limit-chart" class="paramSelect, form-group">
            <div class="title">Number of results</div>
            <input type="number" ng-model="input.limit" min="1" value="25" 
	           ng-change="updateMatchingList()">
          </div>
      </form>

      <br>

      <div class="container">
        <h3>{{project}}/{{bug.bugid}}<div>{{bug.title}}</div></h3>
        <h4 ng-init="expanded=false" class="description"
            ng-click="expanded=!expanded" ng-class="{'expanded': expanded}">
          {{bug.description.toLowerCase()}}</h4>

        <div class="table">
          <table ng-if="similarities" class="table table-striped table-responsive">
            <thead>
              <tr><th>Matching bugid</th><th>Similarity ranking</th></tr>
            </thead>
            <tr ng-repeat="sim in similarities" ng-init="expanded=false"
                ng-class-even="'even'" display="default">
    	      <td>
                <a ng-click="expanded = !expanded;load_bug(sim, expanded);">
		  {{ expanded ? '-' : ''}} {{sim.bugid}}</a>
	        <div ng-show="expanded">
		  <a href="{{bug_ui_url(sim)}}">view similar</a>
		  <p>{{sim.title}}</p>
		  <p>{{sim.description}}</p>
	        </div>
              </td>
              <td>{{sim.similarity}}</td>
            </tr>
          </table>
        </div>
</div>
<footer>
  <span style="float:right;">
    Released under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">
      Apache License 2.0</a>.
  </span>
  Copyright 2012 <a href="http://squareup.com">Square, Inc.</a>, Corey Hunt, Abram Hindle
</footer>

</body>
