<!doctype html>
<html ng-app="tasksApp">
<head>
  <script src="/static/lib/angular.min.js"></script>
  <script src="/static/tasks/app.js"></script>

  <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/static/common.css">
  <link rel="stylesheet" href="/static/tasks/application.css">
</head>
<body ng-controller="TasksCtrl">
<nav class="navbar" role="navigation">
	<a class="home-link" href="/bugparty/">&#8962;</a>
	<a href="#">BugParty Tasks</a>
</nav>
<article>
  <div class="flash">
    <p class="bg-success" ng-bind="flash.success"></p>
    <p class="bg-danger" ng-bind="flash.error"></p>
  </div>

  <section ng-init="collapsed=false">
    <header>
      <h2><a ng-click="collapsed=!collapsed">{{collapsed ? '+' : '-'}}Tasks</a></h2>
      ({{tasks.length == null ? '?' : tasks.length}} tasks)
    </header>
    <div ng-hide="collapsed">
      <button class="btn-default btn" ng-click="clearQueue()">clear queue</button>
      <ul>
        <li ng-repeat="task in tasks">
          <show-task task="task"></show-task>
        </li>
      </ul>
    </div>
    </section>

  <section ng-init="errorCollapsed=false">
    <header>
      <h2><a ng-click="errorCollapsed=!errorCollapsed">{{errorCollapsed ? '+' : '-'}}Errors</a></h2>
      ({{errors.length == null ? '?' : errors.length}} errors)
    </header>
    <div ng-hide="errorCollapsed">
      <button class="btn-default btn" ng-click="clearErrors()">clear errors</button>
      <ul >
        <li ng-repeat="error in errors track by $id(error)">
          <show-task task="error.task" failed-at="error.when"></show-task>
          <h4>traceback</h4>
          <pre ng-bind="error.traceback"></pre>
        </li>
      </ul>
    </div>
    </section>
</body>
</html>

