<div class="task">
  <h3 class="name">{{task.task_name}}
    <span class="started" ng-if="task.started">
      started at {{task.started}}</span>
  </h3>
  <div class="added" ng-if="task.added">added: {{task.added}}</div>
  <div class="failed" ng-if="failedAt">failed at: {{failedAt}}</div>

  <h4>task properties</h4>
  <pre ng-bind="task.properties | json"></pre>
</div>
