<div ng-controller='clustering' ng-init="init()">
	Select a query result below to cluster 
	<ul>
			<li ng-repeat="query in data"
				style="list-style:none;">
				<i class="icon-circle" style="color:{{query.info.color}}"></i>
				<a ng-click="do_clustering($index)"> {{query.info.alias || query.info.query }} ({{query.hits}})
				</a>
			</li>
	</ul>
    <label>clusters <input ng-model="cluster_count" type="number" start="5" step="1" /></label>

	<h4>reports</h4>
	<p ng-if="reports.length === 0">no reports generated</p>
	<ul ng-if="reports.length > 0">
		<li ng-repeat="report in reports" style="list-style: none;"
            ng-init="q = report.original_query">
		  <i class="icon-circle" style="color:{{q.color}}"></i>
          <span style="font-weight: bold">{{q.label}} ({{q.hits}})</span>
          <br/>
          {{report.cluster_count}}-clustering <i>{{ report.status }}</i>
          <ul style="list-style: none" ng-show="report.status == 'success'">
            <li><a href="{{report.get_url('silhouette.svg')}}">
              silhouette.svg</a></li>
            <li><a href="{{report.get_url('cluster.csv')}}">
              cluster.csv</a></li>
          </ul>
		</li>
	</ul>
</div>
