<!doctype html>
<html ng-app="newMultBugApp">
<head>
  <script src="/static/lib/angular.min.js"></script>
  <script src="/static/lib/angular-file-upload.min.js"></script> 
  <script src="/static/new_bug_mult/app.js"></script>

  <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/static/common.css">
</head>
<body ng-controller="NewMultBugCtrl">
<nav class="navbar" role="navigation">
	<a class="home-link" href="/bugparty/">&#8962;</a>
	<a href="#">{{project}} - Add Multiple New Bugs</a>
</nav>
<article>
  <div class="flash">
    <p class="bg-success" ng-bind="flash.success"></p>
    <p class="bg-danger" ng-bind="flash.error"></p>
  </div>

  <form name="bug_fields_form" role="form" enctype="multipart/form-data">
      <h4>Upload Json File</h4>
      <p class="help-block">The Json file should contain a list of Json
        objects. For example, [{bug 1}, {bug2}].</p>

      <div class="container-fluid">
        <div class="row">
          <div class="form-group col-md-4">
            <input type="file" ng-file-select="addFileToList($files)" 
                   class="form-control" onclick="this.value=null"/>
          </div>
        </div>
      </div>

      <h4>Json Element Names</h4>
      <p class="help-block">If any of your JSON's attribute names are different 
        from our defaults, enter the attributes' names below.</p>

      <div class="container-fluid">
	<div class="row">
	  <div class="form-group col-md-4">
            <label>Bug ID</label> 
	    <input type="text" ng-model="bug_fields.bugID"
		   class="form-control" placeholder="bugid"/>
	  </div>

	  <div class="form-group col-md-4">
            <label>Merge ID</label>
            <input type="text" class="form-control"
		   ng-model="bug_fields.mergeID" placeholder="mergeID">
	  </div>

	</div>

	<div class="row">
	  <div class="form-group col-md-4">
            <label>Open date</label>
            <input type="text" class="form-control"
		   ng-model="bug_fields.openDate" placeholder="openedDate">
	  </div>
	  
	  <div class="form-group col-md-4">
            <label>Close date</label>
            <input type="text" class="form-control"
		   ng-model="bug_fields.closeDate" placeholder="closeDate">
	  </div>
	</div>


	<div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control"
		 ng-model="bug_fields.title" placeholder="title">
	</div>
	
	<div class="form-group">
          <label>Description</label>
          <textarea class="form-control" placeholder="description"
		    ng-model="bug_fields.description">
	  </textarea>
	</div>
	
	<div class="row">
	  <div class="form-group col-md-4">
            <label>Status</label>
            <input type="text" class="form-control"
		   ng-model="bug_fields.status" placeholder="status">
	  </div>
	  
	  <div class="form-group col-md-4">
            <label>Component</label>
            <input type="text" class="form-control"
		   ng-model="bug_fields.component" placeholder="component">
	  </div>
	  
	  <div class="form-group col-md-4">
            <label>Version</label>
            <input type="text" class="form-control"
		   ng-model="bug_fields.version" placeholder="version">
	  </div>
	  
	</div>
	
	<div class="row">
	  <div class="form-group col-md-4">
            <label>Priority</label>
            <input type="text" class="form-control"
		   ng-model="bug_fields.priority" placeholder="priority">
	  </div>
	  
	  <div class="form-group col-md-4">
            <label>Type</label>
            <input type="text" class="form-control"
		   ng-model="bug_fields.type" placeholder="type">
	  </div>
	</div>

        <button class="btn btn-primary" ng-click="start()" 
                >Submit</button>
	
	<button ng-click="clear_form()"
		class="btn btn-primary">Clear</button>
	
      </div><!-- .container-fluid -->
  </form>
  </article>
  </body>
</html>  
